/*
  ⚠️ .scss 파일을 수정해주세요
*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

// color
$primary: #2e6ff2;
$primaryA11y: #2861d3;
$background: #fff;
$surface: #121314;
$grayLv1: #f3f5fa;
$grayLv2: #d9dbe0;
$grayLv3: #8d9299;
$grayLv4: #47494d;
$error: #ff3440;
$warn: #ffc533;
$activation: #dee8ff;

$maxW: 1000;
@function fcSize($min, $max) {
  @return clamp($min * 0.1rem, (100vw / $maxW) * $max, $max * 0.1rem);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 10px;
}
body {
  background-color: $grayLv1;
  color: $surface;
  font-size: 1.6rem;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}
// 접근성을 위한 숨김처리
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// form
body,
input,
button,
p,
h1,
h2 {
  padding: 0;
  margin: 0;
}
input,
button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}

img,
svg {
  vertical-align: top;
}

header {
  display: flex;
  flex-direction: column-reverse;
  margin: 8em auto 4em;
  max-width: calc(100% - 6rem);
}
h1 {
  text-align: center;
  color: $grayLv4;

  font-weight: 700;
  text-transform: uppercase;

  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: fcSize(32, 48);
  margin-top: 1rem;

  img {
    width: 50rem;
    max-width: 100%;
  }
}

.section-title {
  font-size: 0.85em;
  font-weight: 400;
  padding-left: 0.5em;
  width: fit-content;
  color: $grayLv3;
}
.url-section,
.result-section {
  width: 80rem;
  max-width: calc(100% - 6rem);
  margin: auto;
}

.url-form,
.result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 1.2em;

  background-color: $background;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  margin-top: 1rem;
}
.result {
  padding-left: 2.5rem;
  gap: 1em;

  span {
    word-break: break-all;
  }
  .copy__button {
    flex-shrink: 0;
  }
}

.url-section {
  .url-form {
    gap: 0.5em;

    &:focus-within {
      outline: 2px solid $primary;
    }

    &__url {
      flex-grow: 1;
      outline: none;
      padding: 0.5em;
      border-radius: 0.5em;
      flex-shrink: 1;
      width: 100%;

      &::placeholder {
        color: $grayLv3;
        padding-left: 0.3em;
      }
    }
  }
}

[class*="__button"] {
  border-radius: 0.5em;
  width: 4.8rem;
  height: 4.8rem;

  flex-shrink: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  vertical-align: middle;

  &,
  & svg {
    transition: all 0.3s;
  }

  img {
    height: 60%;
  }
  &:disabled {
    background-color: $grayLv2;
    cursor: not-allowed;
    svg {
      fill: $grayLv1;
    }
  }
  @media (hover: hover) {
    &:not([disabled]):hover {
      background-color: $activation;
    }
  }
}

.copy__button {
  border: 1px solid $grayLv2;
  width: auto;
  min-width: 4.8rem;
  height: 4.8rem;

  &.click {
    border: 1px solid rgba($primary, 0.5);
    background-color: $activation;
    img {
      animation: rotate 0.15s both;
    }
  }
  img {
    width: 4rem;
  }

  span {
    font-size: 0.7em;
    letter-spacing: -0.1px;
    margin: 0 1rem 0 -0.2em;
    transition: opacity 0.5s ease-in-out;
  }

  .success {
    color: $primary;
    opacity: 1;
  }
  .copy {
    opacity: 0;
    width: 0;
  }
}

.short-friends {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;

  img {
    transform-origin: 50% 100%;
    max-width: 10%;
    max-height: 6rem;
    aspect-ratio: 254/280;

    &:nth-child(2n) {
      animation: shorten 1s cubic-bezier(1, 0, 0, 5) infinite alternate both;
    }
    &:nth-child(2n + 1) {
      animation: shorten 1s cubic-bezier(1, 0, 0, 5) infinite reverse both;
    }
  }
}

@keyframes shorten {
  0% {
    transform: scale(1.05, 0.95);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.05, 0.95);
  }
}

@keyframes rotate {
  from {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.5em;
  box-sizing: border-box;
  gap: 2.4rem;
  @media screen and (max-width: 640px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.origin-url {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;

  span {
    color: $grayLv3;
    font-size: 0.8em;
  }
  a {
    word-break: break-all;
    color: rgba($primary, 0.8);
    text-decoration: underline;
  }
}

.btn-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    height: 3.6rem;
    padding: 0 1em;

    border: 1px solid rgba($primary, 0.3);
    border-radius: 0.5em;
    font-size: 0.85em;

    transition: all 0.3s;
    @media (hover: hover) {
      &:hover {
        border: 1px solid rgba($primary, 0.8);
        background-color: rgba($primary, 0.1);
      }
    }
    &.btn-back {
      background-color: $primary;
      border: 0;
      color: $background;
      img {
        width: 1.6em;
      }
      @media (hover: hover) {
        &:hover {
          img {
            animation: move 0.4s infinite alternate both;
          }
        }
      }
    }
  }
}

@keyframes move {
  to {
    transform: translateX(-0.3em);
  }
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  .wrap {
    flex-grow: 1;
  }
}
.qrcode_wrap {
  margin-top: 1em;
}
#qrcode {
  canvas {
    max-width: 100%;
    height: auto !important;
  }
}

.qr_wrap {
  padding: 2rem 2rem 4rem 2rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#downloadButton {
  display: inline-flex;
  word-break: keep-all;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  min-height: 3.6rem;
  padding: 0.2em 1em;

  border: 1px solid rgba($primary, 0.3);
  color: $primaryA11y;
  border-radius: 0.5em;
  font-size: 0.85em;

  transition: all 0.3s;
  @media (hover: hover) {
    &:hover {
      background-color: $primary;
      color: #fff;
      border-color: $primary;
    }
  }
}

// footer

.footer {
  border-top: 1px solid $grayLv2;
  padding: 3rem 0;

  p {
    color: $grayLv3;
    font-size: 1.4rem;
  }
  .inner {
    width: 120rem;
    max-width: calc(100% - 6rem);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .footer-logo {
    display: block;

    img {
      height: 3rem;
    }
  }
  .weniv-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 1.6rem;
    font-size: 1.3rem;
    flex-grow: 1;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.2em;

      li {
        color: $grayLv4;
        &:not(:last-child):after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 0.8em;
          background-color: $grayLv3;
          margin-right: 0.8em;
          margin-left: 0.8em;
        }
      }
    }
  }
  @media screen and (max-width: 798px) {
    .inner {
      flex-direction: column;
      .weniv-info {
        align-items: center;
        justify-content: center;
        ul {
          justify-content: center;
        }
      }
    }
  }
  .sns-link {
    flex-shrink: 0;
    display: flex;
    gap: 0.8rem;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      border: 1px solid $grayLv2;
      border-radius: 0.8rem;
      transition: all 0.3s;
      img {
        filter: grayscale(100%);
        opacity: 0.8;
      }

      @media (hover: hover) {
        &:hover {
          border-color: rgba($primary, 0.5);
          background-color: rgba($primary, 0.05);
          img {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }
  }
}

.more_wrap {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;

  p {
    font-size: 0.8em;
    border: 1px solid rgba($primary, 0.5);
    background-color: $background;
    border-radius: 2rem 0 2rem 2rem;
    padding: 0.5em 1em;
    transform-origin: 100% 50%;
    animation: fadeIn 0.5s 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
  }

  .more {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    img {
      width: 60%;

      @media (hover: hover) {
        &:hover {
          animation: move 0.2s infinite alternate both;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0%);
  }
}
