{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weniv.link</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/staff.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>

    <link rel="canonical" href="https://weniv.link" />
    <meta
      name="description"
      content="짧고 귀여운 URL 단축 서비스, 링크를 간편하게! 단축 URL과 QR 코드를 생성 합니다."
    />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://weniv.link" />
    <meta property="og:title" content="weniv.link" />
    <meta property="og:image" content="{% static '/img/OG.png' %}" />
    <meta
      property="og:description"
      content="짧고 귀여운 URL 단축 서비스, 링크를 간편하게! 단축 URL과 QR 코드를 생성 합니다."
    />

    <meta name="twitter:card" content="twitter:card" />
    <meta name="twitter:title" content="weniv.link" />
    <meta
      name="twitter:description"
      content="짧고 귀여운 URL 단축 서비스, 링크를 간편하게! 단축 URL과 QR 코드를 생성 합니다."
    />
    <meta name="twitter:image" content="{% static '/img/OG.png' %}" />
  </head>
  <body>
    <div class="wrap">
      <header>
        <h1>
          <a href="/">
            <img
              src="{% static '/img/weniv-link-logo.svg' %}"
              alt="weniv.link"
            />
          </a>
        </h1>
      </header>

      {% if not shorten_url %}
      <section class="url-section">
        <h2 class="section-title a11y-hidden">URL 단축 입력</h2>
        <form
          action="{% url 'shortener:staff_index' %}"
          method="post"
          class="staff-url-form"
          id="staffUrlForm"
        >
          {% csrf_token %}
          <label for="original_url">URL을 입력해주세요</label>
          <input
            type="text"
            class="form-control url-form__url"
            id="original_url"
            name="original_url"
            placeholder="https://example.com"
            required
          />
          <label for="original_url">단축에 사용할 이름을 입력하세요</label>
          <input
            type="text"
            class="form-control url-form__url"
            id="original_url"
            name="original_url"
            placeholder="study"
            required
          />
          <button type="submit" class="url-form__button">변환하기</button>
        </form>
      </section>
      {% else %}
      <section class="result-section">
        <h2 class="section-title">Shorten URL</h2>
        <p class="result">
          <span>{{ shorten_url }}</span>

          <button type="button" id="copyBtn" class="copy__button">
            <img src="{% static '/img/copy.svg' %}" alt="" />
            <span class="a11y-hidden">복사</span>
          </button>
        </p>
        <div class="qrcode_wrap">
          <h2 class="section-title">QR Code</h2>
          <div class="qr_wrap">
            <div id="qrcode"></div>
            <button type="button" id="downloadButton">
              QR 이미지 다운로드
            </button>
          </div>
        </div>

        <div class="bottom">
          <p class="origin-url">
            <span>[Original URL]</span>
            <a href="{{ original_url }}" target="_blank">{{ original_url }}</a>
          </p>

          <p class="btn-group">
            <a
              href="{% url 'shortener:redirect_original_url' shorten_url_code %}"
              target="_blank"
            >
              바로가기
            </a>
            <a href="/staff/shorten_url" class="btn-back">
              <img src="{% static '/img/back.svg' %}" alt="" />
              이전
            </a>
          </p>
        </div>
      </section>

      {% endif %} {% if error %}
      <p>유효하지 않은 URL을 입력하셨습니다. : {{ error }}</p>
      {% endif %}
    </div>

    <footer class="footer" role="contentinfo">
      <div class="inner">
        <div class="weniv-info">
          <a class="footer-logo" href="/">
            <img
              src="{% static '/img/weniv-link-logo-gray.svg' %}"
              alt="weniv.link"
            />
          </a>
          <p>Copyright © 2024 WENIV All Rights Reserved</p>
          <ul>
            <li>(주)위니브</li>
            <li>대표: 이호준</li>
            <li>사업자 번호: 546-86-01737</li>
            <li>정보통신업</li>
            <li>주소: 제주 제주시 첨단로 330 세미양빌딩 A동 1층 106호</li>
          </ul>
        </div>

        <!-- sns link -->
        <div class="sns-link">
          <a
            class="sns-Btn"
            href="https://www.inflearn.com/users/170213/@jejucoding"
            target="_blank"
          >
            <img src="{% static '/img/icon-inflearn.svg' %}" alt="인프런" />
          </a>
          <a
            class="sns-Btn"
            href="https://www.youtube.com/@jejucodingcamp"
            target="_blank"
          >
            <img src="{% static '/img/icon-youtube.svg' %}" alt="유튜브" />
          </a>
          <a
            class="sns-Btn"
            href="https://blog.naver.com/paul-lab"
            target="_blank"
          >
            <img src="{% static '/img/icon-naver.svg' %}" alt="네이버 블로그" />
          </a>
          <a
            class="sns-Btn"
            href="https://www.instagram.com/weniv_official/"
            target="_blank"
          >
            <img src="{% static '/img/icon-insta.svg' %}" alt="인스타그램" />
          </a>
        </div>
        <!-- //sns link -->
      </div>
    </footer>

    <script src="{% static '/js/script.js' %}"></script>
  </body>
</html>
