{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weniv.link</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>

    <link rel="canonical" href="https://weniv.link" />
    <meta
      name="description"
      content="짧고 귀여운 URL 단축 서비스, 링크를 간편하게! 단축 URL과 QR 코드를 생성 합니다."
    />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://weniv.link" />
    <meta property="og:title" content="weniv.link" />
    <meta property="og:image" content="{% static '/img/OG.png' %}" />
    <meta
      property="og:description"
      content="짧고 귀여운 URL 단축 서비스, 링크를 간편하게! 단축 URL과 QR 코드를 생성 합니다."
    />

    <meta name="twitter:card" content="twitter:card" />
    <meta name="twitter:title" content="weniv.link" />
    <meta
      name="twitter:description"
      content="짧고 귀여운 URL 단축 서비스, 링크를 간편하게! 단축 URL과 QR 코드를 생성 합니다."
    />
    <meta name="twitter:image" content="{% static '/img/OG.png' %}" />
  </head>
  <body>
    <div class="wrap">
      <header>
        <h1>
          <a href="/">
            <img
              src="{% static '/img/weniv-link-logo.svg' %}"
              alt="weniv.link"
            />
          </a>
        </h1>
        <p class="short-friends">
          <img src="{% static '/img/1_stella.svg' %}" alt="" />
          <img src="{% static '/img/2_chilli.svg' %}" alt="" />
          <img src="{% static '/img/3_gary.svg' %}" alt="" />
          <img src="{% static '/img/4_harry.svg' %}" alt="" />
          <img src="{% static '/img/5_woongi.svg' %}" alt="" />
          <img src="{% static '/img/6_ali.svg' %}" alt="" />
          <img src="{% static '/img/7_python.svg' %}" alt="" />
        </p>
      </header>

      {% if not shorten_url %}
      <section class="url-section">
        <h2 class="section-title">단축할 URL을 입력해주세요 6글자 (대,소문자, 숫자만 가능)</h2>
        <form
          action="{% url 'shortener:staff_index' %}"
          method="post"
          class="url-form"
        >
          {% csrf_token %}
          <label for="original_url" class="a11y-hidden">URL</label>
          <input
            type="text"
            class="form-control url-form__url"
            id="original_url"
            name="original_url"
            placeholder="JEem23"
            required
          />
          <button type="submit" class="url-form__button">
            <span class="a11y-hidden">입력</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="#2e6ff2"
            >
              <path
                d="M10.705 10.1985C9.51369 6.37253 13.6505 3.10171 17.1036 5.10245L34.832 15.3742C38.3893 17.4354 38.3893 22.5646 34.832 24.6258L17.1036 34.8975C13.6505 36.8983 9.51369 33.6275 10.705 29.8015L13.7569 20L10.705 10.1985ZM16.4319 21.5L13.5693 30.6933C13.1966 31.8905 14.4942 32.9423 15.5996 32.3018L33.328 22.03C34.8907 21.1246 34.8907 18.8754 33.328 17.97L15.5996 7.69822C14.4942 7.05771 13.1966 8.10948 13.5693 9.30665L16.4319 18.5L23.9157 18.5C24.7441 18.5 25.4157 19.1716 25.4157 20C25.4157 20.8284 24.7441 21.5 23.9157 21.5H16.4319Z"
              />
              <path
                d="M3.5 20C3.5 19.1716 4.17157 18.5 5 18.5H9C9.82843 18.5 10.5
              19.1716 10.5 20C10.5 20.8284 9.82843 21.5 9 21.5H5C4.17157 21.5 3.5
              20.8284 3.5 20Z"
              />
              <path
                d="M2.5 15C2.5 14.1716 3.17157 13.5 4
              13.5H8C8.82843 13.5 9.5 14.1716 9.5 15C9.5 15.8284 8.82843 16.5 8
              16.5H4C3.17157 16.5 2.5 15.8284 2.5 15Z"
              />
              <path
                d="M2.5 25C2.5 24.1716 3.17157 23.5 4 23.5H8C8.82843 23.5 9.5
              24.1716 9.5 25C9.5 25.8284 8.82843 26.5 8 26.5H4C3.17157 26.5 2.5
              25.8284 2.5 25Z"
              />
            </svg>
          </button>
        </form>
      </section>
      {% else %}
      <section class="result-section">
        <h2 class="section-title">Shorten URL</h2>
        <p class="result">
          <span>{{ shorten_url }}</span>

          <button type="button" id="copyBtn" class="copy__button">
            <img src="{% static '/img/copy.svg' %}" alt="" />
            <span class="a11y-hidden">복사</span>
          </button>
        </p>
        <div class="qrcode_wrap">
          <h2 class="section-title">QR Code</h2>
          <div class="qr_wrap">
            <div id="qrcode"></div>
            <button type="button" id="downloadButton">
              QR 이미지 다운로드
            </button>
          </div>
        </div>

        <div class="bottom">
          <p class="origin-url">
            <span>[Original URL]</span>
            <a href="{{ original_url }}" target="_blank">{{ original_url }}</a>
          </p>

          <p class="btn-group">
            <a
              href="{% url 'shortener:redirect_original_url' shorten_url_code %}"
              target="_blank"
              >바로가기</a
            >
            <a href="/" class="btn-back">
              <img src="{% static '/img/back.svg' %}" alt="" />
              이전</a
            >
          </p>
        </div>
      </section>

      {% endif %} {% if error %}
      <p>유효하지 않은 URL을 입력하셨습니다. : {{ error }}</p>
      {% endif %}
    </div>

    <div class="more_wrap">
      <p>위니브의 더 많은 서비스를 만나보세요!</p>
      <a href="https://archive.weniv.co.kr/" target="_blank" class="more">
        <img src="{% static '/img/weniv.svg' %}" alt="위니브 더 알아보기" />
      </a>
    </div>

    <footer class="footer" role="contentinfo">
      <div class="inner">
        <div class="weniv-info">
          <a class="footer-logo" href="/"
            ><img
              src="{% static '/img/weniv-link-logo-gray.svg' %}"
              alt="weniv.link"
            />
          </a>
          <p>Copyright © 2024 WENIV All Rights Reserved</p>
          <ul>
            <li>(주)위니브</li>
            <li>대표: 이호준</li>
            <li>사업자 번호: 546-86-01737</li>
            <li>정보통신업</li>
            <li>주소: 제주 제주시 첨단로 330 세미양빌딩 A동 1층 106호</li>
          </ul>
        </div>

        <!-- sns link -->
        <div class="sns-link">
          <a
            class="sns-Btn"
            href="https://www.inflearn.com/users/170213/@jejucoding"
            target="_blank"
            ><img src="{% static '/img/icon-inflearn.svg' %}" alt="인프런" />
          </a>
          <a
            class="sns-Btn"
            href="https://www.youtube.com/@jejucodingcamp"
            target="_blank"
            ><img src="{% static '/img/icon-youtube.svg' %}" alt="유튜브"
          /></a>
          <a
            class="sns-Btn"
            href="https://blog.naver.com/paul-lab"
            target="_blank"
            ><img src="{% static '/img/icon-naver.svg' %}" alt="네이버 블로그"
          /></a>
          <a
            class="sns-Btn"
            href="https://www.instagram.com/weniv_official/"
            target="_blank"
            ><img src="{% static '/img/icon-insta.svg' %}" alt="인스타그램"
          /></a>
        </div>
        <!-- //sns link -->
      </div>
    </footer>

    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/analytics.js' %}"></script>
  </body>
</html>
